.modal {
  top: 50%;
  transform: translateY(-50%);

  :global {
    .ant-modal-content {
      padding: 20px 24px;
      border-radius: 8px;
    }

    .ant-modal-confirm-title {
      font-size: 16px;
      font-weight: 600;
      color: #000;
    }

    .ant-modal-confirm-content {
      margin-top: 8px;
      margin-bottom: 4px;
    }
  }
}

.icon {
  color: #faad14;
  font-size: 13px;
}

.content {
  font-size: 14px;
  line-height: 1.6;
  color: #444;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
  margin-top: 8px;
}

.footerEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
}
